#sable{
    width: 65px;
    height: 65px;
    display: block;
    transition: .5s;
    z-index: 15;
}
.icon-galactic-empire{
    position: relative;
    left: 5.5em;
    top: -2.2em;
}
.icon-galactic-empire img{
    width: 65px;
    height: 65px;
}
.sable_top{
    display: block;
    position: relative;
    padding: 0; 
    top:0;
    transform: rotateZ(226deg);
}
.sable_middle{
    display: block;
    position: relative; 
    padding: 0; 
    bottom: 42px;
    transform: rotateZ(226deg);
}
.sable_bottom{
    display: block;
    padding: 0; 
    position: relative; 
    bottom: 83px;
    transform: rotateZ(226deg);
}
header{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    z-index: 99;
    margin-left: 32px;
}
.menu-sable{
    cursor: pointer;
    width: 60px;
    height: 60px;
}
.button-open .sable_top {
    transform: rotateZ(186deg)  translateX(-15px) translateY(-20px);
    transition: .1s;
  }
.button-open .sable_middle {
    transform: translate(230px);
    transition: 0.1s ease-out;
    opacity: 0;
  }
 .button-open .sable_bottom {
    transform: rotateZ(270deg) translateX(25px) translateY(15px);
    transition: .1s;
  }
.menu-wrap {
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 350px;
    font-size: 2.5em;
    transition: .25s;
    margin-left: -650px;
    background-color: rgba(104, 104, 104, 0.589);
}
.menu-sidebar{
    top: 30px;
    position: absolute;
    margin-top: 140px;
    left: .2em;
}
.menu-sidebar .menu {
    list-style: none;
    padding: 0;
    margin-left: 11px;
}
.menu-sidebar ul li{
    display: block;
    padding: 0.5px;
    margin: 0;
}
.menu-sidebar ul li a{
    display: block;
    margin: 0;
    padding: 0;
    font-family: 'Star Jedi Rounded';
    color: rgb(218, 218, 218);
    font-size: 20px;
    text-decoration: none;
}
.menu-show {
  margin-left:-35px;
}
.menu-sidebar ul li a:hover{
    color: rgb(216, 171, 171);
    transition: 0.5 ease;
}
.form-control{
        margin: 110px 15px;
    padding-bottom: 90px;
}
input{
    height: 50px;
    width: 325px;
    color: #fff;
    display: block;
    font-family: 'Star Jedi Rounded';
    font-size: 1.2em;
    background: rgba(80, 80, 80, 0.733);
    border-style: none;
}
