<header>
        <div class="menu-sable">
                <img id="sable" class="sable_top" src="../../assets/img/light-saber.png" alt="">
                <img id="sable" class="sable_middle" src="../../assets/img/light-saber.png" alt="">
                <img id="sable" class="sable_bottom" src="../../assets/img/light-saber.png" alt="">
        </div>
        <div class="icon-galactic-empire">
                <img src="../../assets/img/galactic-empire.png" alt="">
        </div>
</header>

<nav class="menu-wrap">   
        <div class="menu-sidebar">
            <ul class="menu">
                 <li><a href="#" routerLink='/' routerLinkActive="router-link-active" >inicio</a></li>
                <li><a href="#" routerLink='/pelicula' routerLinkActive="router-link-active" >peliculas</a></li>
                <li><a href="#">personajes</a></li>
                <li><a href="#">naves</a></li>
                <li><a href="#">planetas</a></li>
                <li><a href="#">especies</a></li>
                <li><a href="#">vehiculos</a></li>
            </ul> 
               <app-searchbar-com></app-searchbar-com>
        </div>
</nav>

