<header>
        <div class="menu-sable">
                <img id="sable" class="sable_top" src="../../assets/img/light-saber.png" alt="">
                <img id="sable" class="sable_middle" src="../../assets/img/light-saber.png" alt="">
                <img id="sable" class="sable_bottom" src="../../assets/img/light-saber.png" alt="">
        </div>

</header>

<nav class="menu-wrap">   
        <form action=""class="form-control" >
                        <input type="text" name="bsqda" >

            </form>
        <div class="menu-sidebar">
            <ul class="menu">
                <li><a href="#">PELICULAS</a></li>
                <li><a href="#">PERSONAJES</a></li>
                <li><a href="#">NAVES</a></li>
                <li><a href="#">PLANETAS</a></li>
            </ul>           
        </div>
</nav>

