<div class="container-title">
    <h1 class="title-app">star wars</h1>
   <p class="subttile-app">movies collection</p>
</div>

    <div class="main">
        <div class="container">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                            <div class="flex-item col-md-4">
                                 <img src="/assets/img/1.png" alt="First slide">
                            </div>
                            <div class="flex-item col-md-4 active">
                                <img src="assets/img/2.jpg" alt="First slide">
                            </div>     
                            <div class="flex-item col-md-4">
                                <img class="" src="assets/img/3.jpg" alt="First slide">
                            </div>  
                            <div class="flex-item col-md-4">
                                <img class="" src="assets/img/4.jpg" alt="First slide">    
                        </div>
            </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls"  role="button" data-slide="prev">
                      <img src="assets/img/light-saber.png" alt="" class="prev-icon-1">
                      <img src="assets/img/light-saber.png" alt="" class="prev-icon-2">
                    </a>
         <a class="carousel-control-next" href="#carouselExampleControls"  role="button" data-slide="next">
                <img src="assets/img/light-saber.png" alt="" class="next-icon-1">
                <img src="assets/img/light-saber.png" alt="" class="next-icon-2">
                    </a> 
            </div>
    
              </div>
    
        </div>