@media (min-width:1200px) and (MAX-width:1390px) {
  .flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
margin-top: 45px;
z-index: 1000;
    
}
.left-container{
    position: relative;
    width: 90%;
    margin: auto;
   transition: ease .25s;
}
.left-container .container-title{
    top: 52px;
    position: relative;
       transition: ease .25s;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
 height: 401px;
}

    .carousel-inner
    {
        margin-top: 110px !important;
        width: 90%;
        margin: auto;
        height: 320px;
        margin-left: 25px;
    }
.flex-container{
  display: block;
  position: relative;
  overflow: hidden; 
  float: left;
  width: 100%;
  height: 520px;
}

.flex-item{
    height: 100%;
    width: 70%;
    position: relative;
    z-index: 1;
    transform: scaleX(0.9) scaleY(0.8);
    pointer-events: none;
    background: #2e5266;
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    opacity: 0.7;
    border: 10px solid #fff;
}
    .flex-item img
    {
        height: 100%;
        width:  100%;
        transition: 1s ease;
    }
    .prev-icon-1
    {
        transform: rotateY(180deg) translateY(116px) translateX(139.5px);
        display: block;
    }
    .prev-icon-2
    {
        transform: rotateZ(180deg) translateY(-50px) translateX(199px);
        display: block;
    }
    .next-icon-1{
        transform: rotatex(180deg) translateY(-50px) translateX(40px);
    }
    .next-icon-2{
        transform: rotateZ(360deg) translateY(114px) translateX(-19px);
    }
    
    
    
    .carousel-control-prev img
    {
        width: 60px;
        height:60px;
    }
    .carousel-control-next img
    {
        width: 60px;
        height:60px;
    }
    
 .carousel-control-prev
    {
        position: absolute;
        left: 90px;
        top: -100px;
        transition: 0.5s ease;
        margin-left: -5px;
    }
    .carousel-control-next
    {
        position: absolute;
        left: 990px;
        top: 80px;
        transition: 0.5s ease;
        width: 12%;
        display: block;
    }

    
}
@media (min-width:720px) and (MAX-width:950px) {
    .flip-card{
        width: 90%;
        height: 200px;
    }
    .carousel-inner
    {
        margin-top: 150px !important;
        width: 90%;
        height: 340px;
     
    }
    .flex-item img
    {
        height: 320px;
        width:  100%;
        
        transition: 1s ease;
    }
    .flex-container{
        width: 90%;
        margin-right: -60px;
    }
    .prev-icon-1
    {
        transform: rotateY(180deg) translateY(300px) translateX(200px);
    }
    .prev-icon-2
    {
        transform: rotateZ(180deg) translateY(-110px) translateX(199px);
    }
    .next-icon-1{
        transform: rotatex(180deg) translateY(-198.5px) translateX(75px);
    }
    .next-icon-2{
        transform: rotateZ(360deg) translateY(210px) translateX(75px);
    }
    
    .carousel-control-prev img
    {
        width: 90px;
        height:90px;
    }
    .carousel-control-next img
    {
        width: 90px;
        height:90px;
    }
    
        .carousel-control-prev
    {
        position: absolute;
        left: 90px;
        top: -100px;
        display: block;
        width: 10%;
        transition: 0.5s ease;
    }
    .carousel-control-next
    {
        position: absolute;
        left: 620px;
        top: -100px;
        display: block;
        width: 10%;
        transition: 0.5s ease;
    }

    
}
