.pull-left{
    transition: 0.3s ease;
    margin-left: 250PX;
}
.main{
    padding-left: 15px;
    transition: 0.3s ease;
    width: 100%;  
}
.main img{
    width: 540px;
    height: 750px;
}
.carousel-control-prev{
    position: absolute;
    left: 50px;
    top: -100px;
    transition: 0.5s ease;
}
.carousel-control-prev img{
    width: 160px;
    height: 160px;
}
.prev-icon-1{
    transform: rotateY(180deg) translateY(160px) translateX(161px);
}
.prev-icon-2{
    transform: rotateZ(180deg) translateY(4px) translateX(320px);
}

.carousel-control-next{
    position: absolute;
    left: 1300px;
    top: -100px;
    transition: 0.5s ease;
}

.carousel-control-next img{
    width: 160px;
    height: 160px;
}

.next-icon-1{
    transform: rotatex(180deg) translateY(0px) translateX(-80px);
}
.next-icon-2{
    transform: rotateZ(360deg) translateY(165px) translateX(-240px);
}

.carousel-inner{
    display: block !important;
    overflow: visible!important;
}
.flex-container{
display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; 
}
.flex-container .flex-item{
    height: 100%;
    width: 40%;
    position: relative;
    z-index: 1;
    margin-left: 10px;
    transform: scaleX(0.9) scaleY(0.6);
    pointer-events: none;
    background: #2e5266;
    transition: 1s;
    overflow: hidden;
    opacity: 0.7;
    border: 10px solid #fff;
}
.flex-item img{
    height: 550px;
    width: 100%;
    transition: 1s ease;
}
.flex-container .flex-item.active {
  z-index: 3;
  -webkit-transform: scale(1) translateY(0) translateX(0);
  transform: scale(1) translateY(0) translateX(0);
  opacity: 1;
  pointer-events: auto;
  transition: 1s;
  width: 100% !important;
  transition: 0.5s ease;
  border: 8.5px solid rgb(97, 97, 97) !important;
}