
h1,h2,h3,h4,h5,h6{
  font-family: 'Star Jedi','San-serif';
  font-weight: normal;
  font-style: normal;
}
.container-title{
  position: absolute;
  width: 50%;
  z-index: -1000;
  transform:translateX(50%);
  margin-top: 1.2em;

}

.title-app{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 5.2em;
}

.subttile-app{
  text-align: center;
  color: rgb(255, 196, 0);
  font-size: 3.2em;
  position: relative;
  bottom: 0.6em;
  font-family: 'Star Jedi Rounded';
}