#sable-menu{
    width: 60px;
    height: 60px;
    display: block;
    transform: rotateZ(226deg);
}
.sable_top{
    display: block;
    position: relative;
    padding: 0; 
    top:0;
}
.sable_middle{
    display: block;
    position: relative; 
    padding: 0; 
    bottom: 42px;
}
.sable_bottom{
    display: block;
    padding: 0; 
    position: relative; 
    bottom: 83px;
}
header{
    margin-left: 1em;
    position: relative;
    left: 0.5em;
    top: 0;
    bottom: 0;
    background: rgb(5, 169, 180);
    width:350px;
    height: 100vh;
}
.menu-sable{
    cursor: pointer;
    background: rgb(187, 135, 135);
    width: 60px;
    height: 60px;
}