<header>
        <div class="menu-sable">
                <img id="sable-menu" class="sable_top" src="../../assets/img/light-saber.png" alt="">
                <img id="sable-menu" class="sable_middle" src="../../assets/img/light-saber.png" alt="">
                <img id="sable-menu" class="sable_bottom" src="../../assets/img/light-saber.png" alt="">
            </div>

            <nav>   
                <div class="menu-wrap">
                    <div class="menu-sidebar">
                        <ul class="menu">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li class="menu-item-has-children"><a href="#">Click The Arrow</a>
                                <span class="sidebar-menu-arrow"></span>
                                <ul class="sub-menu">
                                    <li><a href="#">Alignment</a></li>
                                    <li><a href="#">Markup</a></li>
                                    <li><a href="#">Comments</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Get In Touch</a></li>
                        </ul>           
                    </div>
                </div>     
              </nav>
</header>

