
h1,h2,h3,h4,h5,h6{
  font-family: 'Star Jedi','San-serif';
  font-weight: normal;
  font-style: normal;
}
.container-title{
  width: 90%;
  margin: auto;
  z-index: -1000;
  margin-top: 1.2em;

}

.title-app{
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 5.2em;
}

.subttile-app{
  text-align: center;
  color: rgb(218, 204, 4);
  font-size: 2.85em;
  position: relative;
  bottom: 0.6em;
  font-family: 'Star Jedi Rounded';
  .search-container{
    padding:20px;

}

input[type=text] {
    padding: 6px;
    font-size: 15px;
    font-family: 'Star Jedi Rounded';
  }

  .searchbtn{
      
}
