/* You can add global styles to this file, and also import other style files */
body{
    background-image:url('../src/assets/img/bg_star_wars.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @font-face {
    font-family: 'Star Jedi';
    src: url('../src/assets/fonts/StarJedi.woff2') format('woff2'),
        url('../src/assets/fonts/StarJedi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Star Jedi Rounded';
    src: url('../src/assets/fonts/StarJediRounded.woff2') format('woff2'),
        url('../src/assets/fonts/StarJediRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Star Jedi Hollow';
    src: url('../src/assets/fonts/StarJediHollow.woff2') format('woff2'),
        url('../src/assets/fonts/StarJediHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
